@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background: #121212;
  overflow-x: hidden;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-container {
  z-index: 0 !important;
}

